@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;

  width: 100vw;

  color: black;
}

@media (min-width: 1000px) {
  body {
    padding: 0 10vw;
  }
}

h1.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

h1.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.lightgray {
  color: lightgray;
}
