@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
  width: 100%;
}

body {
  word-break: keep-all;
  display: flex;
  flex-direction: column;

  width: 100vw;

  padding: 0 20vw;
}

@media (max-width: 1280px) {
  body {
    padding: 0 10vw;
  }
  html {
    font-size: max(1.5vw, 8px);
  }
}

h1.section-title {
  font-size: 2rem;
  font-weight: bold;
}

h1.title {
  font-size: 2.5rem;
  font-weight: bold;
}

section {
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: var(--color-text-secondary)
}
a:hover {
  text-decoration: underline;
}
